/* don't wrap button text ??? */
.ui.button {
  white-space: nowrap;
}


/* transparent buttons (for EditorToolbar) */
.ui.transparent.buttons .ui.button,
.ui.transparent.button {
  background: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
