/* Extension to SUI styles */

/* Add label directly to a fields element */

.ui.form .labeled.fields:not(.inline) {
  flex-wrap: wrap;
}

.ui.form .labeled.fields:not(.inline) > label {
  display: block;
  min-width: 100%;
  font-weight: bold;
  font-size: 0.928571em;
}

.ui.form .labeled.fields:not(.inline) > label + .field {
  padding-left: 0 !important;
}

.ui.form .disabled.fields > label {
  opacity: 0.45;
  pointer-events: none;
}
