/* Extension to SUI styles */
.ui.message.inline {
  display: inline-block;
}

.ui.message[class*="right floated"] {
  float: right;
}

.ui.message[class*="left floated"] {
  float: right;
}

/* Smaller icon */
.ui.icon.message > .small.icon {
  font-size: 2em;
}
