#pageEditor-topToolbar {
  position:fixed;
  top:0; height:40px;
  padding:2px 8px;
  z-index:2;
}

#pageEditor-rightSidebar {
  position:fixed;
  top:40px; bottom: 0;
  left: auto; right:0;
  width:240px; height: auto;
  border-top: 1px solid #333;
  z-index:1;
}
