.oak.ComponentMenu {
  padding: 5px;

  .Element {

    &.selected > .Type {
      color: pink;
    }
  }

  .Children {
    padding-left: 8px;
  }

  .Type,
  .String {
    cursor: pointer;
    text-wrap: nowrap;
    overflow: hidden;
    height: 1.4em;
    line-height: 1.4em;
  }

  .id {
    opacity: 0.6;
    &:before { content: "#" }
  }

  .className {
    opacity: 0.6;
    &:before { content: "." }
  }

  .String {
    font-style: italic;
    &:before { content:"“" }
    &:after { content:"”" }
  }

}
