#EditorToolbar {
  min-height: 34px;
  max-height: 34px;
  margin: 0;
  z-index: 100;
  border-width: 0px;
  overflow: hidden;

  .ui.buttons {
    height: 34px;
  }

  .ui.button {
    color: white;
    height: 34px;
    padding: 0px 7px;

    .icon {
      font-size: 1.4em;
    }
  }

  .ui.active.button {
    color: lightblue;
  }

}
