.oak.FixedPanel {
  position: relative;
  height: 100%;     // TODO: why???

  & > .popout {
    position: fixed;
    z-index: 1001;
  }

  &.inverted,
  &.inverted > .popout {
    background-color: #1b1c1e;
    color: white;
  }
}
