.oak.Resizer {
  position:fixed;
  border:1px solid blue;
  z-index:2;
  pointer-events: none;
}


/* Resize handles are 20px diameter, but the visible area is only 10px so it looks more elegant. */
.oak.ResizeHandle {
  position: absolute;
  display: none;
  width: 20px;
  height: 20px;
  background-color: rgba(0,0,0,.1);
  border-radius: 10px;
}

.oak.ResizeHandle:after {
  position:absolute;
  left:5px; top: 5px;
  width:10px; height: 10px;
  border: 1px solid blue;
  background-color:white;
  border-radius: 5px;
  content: " ";
}

.oak.ResizeHandle.tl {   cursor: nw-resize; cursor: nwse-resize; z-index:11; left: -10px;  top: -10px;  }
.oak.ResizeHandle.t  {   cursor: n-resize; cursor: ns-resize;  z-index:12; left: calc(50% - 10px);   top: -10px; }
.oak.ResizeHandle.tr {   cursor: ne-resize; cursor: nesw-resize; z-index:11; right: -10px; top: -10px;  }

.oak.ResizeHandle.l  {   cursor: w-resize; cursor: ew-resize; z-index:12; left: -10px;  top: calc(50% - 10px);  }
.oak.ResizeHandle.r  {   cursor: e-resize; cursor: ew-resize; z-index:13; right: -10px; top: calc(50% - 10px);  }

.oak.ResizeHandle.bl {   cursor: sw-resize; cursor: nesw-resize; z-index:11; left: -10px;  bottom: -10px;  }
.oak.ResizeHandle.b  {   cursor: s-resize; cursor: ns-resize; z-index:14; left: calc(50% - 10px);   bottom: -10px;  }
.oak.ResizeHandle.br {   cursor: se-resize; cursor: nwse-resize; z-index:12; right: -10px; bottom: -10px;  }


