/* Container for the menubar: this takes up space to push the body down
  so the -fixed bit below doesn't overlap the body. */
#SelectionSidebar {
  position: relative;
  width: 300px;
  height: 100%;
  margin: 0;
  background-color: #333;
  color: white;
}
