.oak.SelectionRect {
  position: fixed;
  left: -100px; top: -100px; width: 0; height: 0;
}

.oak.SelectionRect.hover {
  border: 1px solid rgba(255, 255, 255, .5);
  z-index: 1;
}

.oak.SelectionRect.hover:after {
  position: absolute;
  left: -1px; top: -1px; right: -1px; bottom: -1px;
  border: 1px dotted black;
  content: " ";
}

.oak.SelectionRect.selection {
  cursor: move;
  border: 1px solid red;
}

.oak.SelectionRect.resizer {
  pointer-events: none;
  border: 1px solid blue;
}

.oak.SelectionRect.dragSelect {
  border: 1px solid rgba(255, 255, 255, .5);
}

.oak.SelectionRect.dragSelect:after {
  position: absolute;
  left: -1px; top: -1px; right: -1px; bottom: -1px;
  border: 1px dashed black;
  content: " ";
}

.oak.SelectionRect.dragSelection {
  border: 1px solid red;
  cursor: default;
}

.oak.SelectionRect.activeDropTarget {
  box-shadow: 0 0 10px green,0 0 10px green
}
