#SUI #examples #PageSidebar {
  position:fixed;
  left:0; width: 150px;
  top:40px; height: calc(100% - 40px);
  background-color: #1b1c1d;
  overflow-y: auto;
  overflow-x: hidden;
}

#SUI #examples .oak.Page {
  margin-right: 150px;
  transform: translate3d(150px, 0px, 0px);
}
