.oak.Project#SUI .oak.Section#examples {
  display: flex;
  flex-direction: row;
}

.oak.Project#SUI .oak.Section#examples #PageSidebar {
  width: 150px;
  flex: 0 0 auto;
}

.oak.Project#SUI .oak.Section#examples .oak.Page {
  flex: 1 1 auto;
  min-width: 0;
}
