.Example:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.Example.unpadded {
  padding-top:0 !important;
  padding-bottom:0 !important;
  padding-left:0 !important;
}

.Example .header .info.icon {
  font-size: 0.6rem;
  position:relative;
  top: -0.2rem;
  opacity: 0.5;
  transition: opacity 0.25s, color 0.25s;
}

.Example .header:hover .info.icon {
  background-color: #2185d0 !important;
  opacity: 1;
}

.Example > .dividing.header {
  color: #666;
}
